<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puissance 4</title>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <!-- <link rel="icon" href="{{ url_for('static',filename='img/favicon.png') }}" type="image/png" /> -->
</head>
<body>
    <div class="content">
        <a href='/pvp'>Player 1 vs Player 2</a>
        <a href='/pva'>Player 1 vs Alpha Beta</a>
        <a href='/pvm'>Player 1 vs Minimax</a>
        <a href='/mva'>Minimax vs Alpha Beta</a>
    </div>
</body>
</html>